.body{
    background-color: #ffdcb8 ;
}
h1 {
    text-align-last: center;
    color: blue;
    font-family: "Adobe Arabic";
    font-size: 50px;
}
h2{
    font-family: "Adobe Arabic";
    color: blue;
}
strong{
    color: #00c322;
}
a{
    text-decoration: none;
}
a:hover {
    color: #b99700;
    text-decoration: underline;
    font-size: larger;
}